<form
  [formGroup]="form"
  fxLayout="column"
  fxLayoutAlign="center stretch"
  (ngSubmit)="onSubmit()"
  class="mat-body"
  fxLayoutGap="10px"
>
  <div fxFlexFill fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <mat-label>Nombre </mat-label>
      <input
        autocomplete="off"
        formControlName="name"
        matInput
        type="text"
        [maxLength]="30"
      />
      <mat-error>
        <span *ngIf="form.hasError('required', 'name')">
          Este campo es requerido.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label> Apellidos </mat-label>
      <input
        autocomplete="off"
        formControlName="last_name"
        matInput
        type="text"
        [maxLength]="30"
      />
      <mat-error>
        <span *ngIf="form.hasError('required', 'last_name')">
          Este campo es requerido.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label> Fecha de nacimiento </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthday" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error>
        <span *ngIf="form.hasError('required', 'birthday')">
          Este campo es requerido.
        </span>
      </mat-error>
    </mat-form-field>
  </div>
</form>
