
.group{

  &-title{
    background-color: rgb(166, 160, 160);
    padding: 15px 10px;
    border-radius: 10px 10px 0 0;
  }

  &-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  &-list {
    border: solid 1px #ccc;
    min-height: 60px;
    max-height: 600px;
    padding: 15px;
    background: white;
    border-radius: 4px;
    overflow: auto;
    display: block;
  }

  &-box {
    padding: 20px 10px;
    margin: 5px;
    border-bottom: solid 1px #ccc;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: rgb(50, 51, 55);
    font-size: 14px;
    border-radius: 5px;
  }

  &-select {
    height: 250px;
    margin: 5px;
    border-radius: 10px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }

  &-box:last-child {
    border: none;
  }

  &-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.employee{
  height: 200px;
  overflow: auto;
}

.detail-container {
  width: 400px;
  height: 600px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  vertical-align: top;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

ul {
  list-style-type: none;
  margin-top: 4px;
}